<!DOCTYPE html>
<html>
  <head>
    <title>ReponsiveCV</title>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <header> <%= render 'pages/navbar'%></header>
      <div class="main-container">
        <%= yield %>
      </div>
      <%= render 'pages/contact'%>
      <footer>  <%= render 'pages/footer'%></footer>
  </body>

</html>
