<!DOCTYPE html>
<html>
  <head>
    <title>Thibault Fitte-Duval Developpeur Web</title>

  <meta name="description" content="Je m’appelle Thibault je suis développeur web.  J’ai fait mes classes de developper web au sein du Wagon Bordeaux, ou j’ai pu acquérir  et consolider e nombreuses compétences comme le HTML, Le CSS , Javascript oui Ruby on rails.
Dans cette experience tout d’abord humaine,  mon but est de vous aider a traduire vos pensées vers la digitalisation dans la lignée de votre projet marketing
Multi-casquette, vous chercher a valoriser votre positionnement et diffuser votre message auprès d’un public engagé, a  augmenter la visibilité de votre commerce ou a concrétiser de manière digitales vos projets.">

  <meta property="og:title" content="Thibault Fitte-Duval - Developpeur Web">
  <meta property="og:image" content="rs.jpg">
  <meta property="og:description" content="Je m’appelle Thibault je suis développeur web.  J’ai fait mes classes de developper web au sein du Wagon Bordeaux, ou j’ai pu acquérir  et consolider e nombreuses compétences comme le HTML, Le CSS , Javascript oui Ruby on rails.
Dans cette experience tout d’abord humaine,  mon but est de vous aider a traduire vos pensées vers la digitalisation dans la lignée de votre projet marketing
Multi-casquette, vous chercher a valoriser votre positionnement et diffuser votre message auprès d’un public engagé, a  augmenter la visibilité de votre commerce ou a concrétiser de manière digitales vos projets.">
  <meta property="og:site_name" content="Thibault Fitte-Duval | Developpeur Web"/>

</head>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <header> <%= render 'pages/navbar'%></header>
      <div class="main-container">
        <%= yield %>
      </div>
      <%= render 'pages/contact'%>
      <footer>  <%= render 'pages/footer'%></footer>
  </body>

</html>
